<div class="container col-md-8 mt-4">
    <div class="card">
        <h4 class="card-header bg-white text-center">Sessão de Estudo</h4>
        <div class="card-body">
            <form>
                <div class="row mb-3">
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="inputPassword" class="form-label">Tempo de estudo</label>
                            <div class="col-sm-10">
                                <input type="time" class="form-control" name="totalTime"
                                    [(ngModel)]="studySession.totalTime">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="rightAnswers" class="form-label">Total de Questões Certas</label>
                            <input type="number" class="form-control" placeholder="0" min="0"
                                [(ngModel)]="studySession.rightAnswers" name="rightAnswers">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Total de Questões Erradas</label>
                            <input type="number" class="form-control" placeholder="0" min="0"
                                [(ngModel)]="studySession.wrongAnswers" name="wrongAnswers">
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <quill-editor [styles]="{height: '200px'}" [modules]="modules" [required]="true"
                        [(ngModel)]="studySession.obs" name="obs" placeholder="Observações">
                    </quill-editor>
                </div>
            </form>
            <div class="d-flex justify-content-center col-md-4 mx-auto">
                <a type="button" [routerLink]="['/topic/' + studySession.topic.id]"
                    class="btn btn-secondary me-4">Voltar</a>
                <button type="button" (click)="saveSession()" class="btn btn-primary">Salvar</button>
            </div>
        </div>
    </div>
</div>