<div class="container col-md-10 mt-4">
    <div class="card mb-4">
        <div class="card-body border-start border-top border-end border-bottom border-2 rounded"
            [style.border-color]="project.color + ' !important'">
            <div class="d-flex justify-content-between">
                <h5 class="fw-bold">{{ project.name }}</h5>

                <div ngbDropdown class="d-inline-block" #projectDropdown="ngbDropdown">
                    <button class="btn btn-transparent" id="projectDropdown"
                        (click)="$event.stopPropagation(); projectDropdown.open();">
                        <i class="bi bi-three-dots"></i>
                    </button>
                    <div ngbDropdownMenu aria-labelledby="projectDropdown">
                        <button ngbDropdownItem (click)="openModal(updateProjectModal)">Editar</button>
                        <button ngbDropdownItem (click)="openModal(deleteProjectModal)">Excluir</button>
                    </div>
                </div>
            </div>
            <div>{{ project.description }}</div>
        </div>
    </div>

    <ng-template #updateProjectModal let-modal>
        <div class="modal-header">
            <h5 class="modal-title" id="newProjectModalTitle">Atualizar Projeto</h5>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
            <form>
                <div class="alert alert-danger alert-dismissible fade show" role="alert" style="display: none;">
                    <span id="alertMessage">Erro ao criar projeto!</span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>

                <ngb-alert type="danger" *ngIf="projectErrorMessage" (closed)="projectErrorMessage = ''">
                    {{ projectErrorMessage }}
                </ngb-alert>

                <div class="mb-3">
                    <label for="name" class="form-label">Nome do Projeto</label>
                    <input class="form-control" type="text" name="name" placeholder="ENEM, Concurso, Faculdade, ..."
                        maxlength="60" required onclick="this.select();" [(ngModel)]="projectUpdated.name">
                </div>
                <div class="mb-3">
                    <label for="name" class="form-label">Descrição (opcional)</label>
                    <textarea class="form-control" type="text" name="description"
                        [(ngModel)]="projectUpdated.description" placeholder="Sobre o que é seu projeto?"></textarea>
                </div>
                <div class="mb-3">
                    <label for="color" class="form-label">Color Tema</label>
                    <input class="form-control" type="color" name="color" [(ngModel)]="projectUpdated.color">
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="updateProject()" ngbAutofocus>Atualizar</button>
        </div>
    </ng-template>

    <ng-template #deleteProjectModal let-modal>
        <div class="modal-header">
            <h5 class="modal-title">Excluir {{ project.name }}</h5>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
        </div>
        <div class="modal-body">
            Tem certeza que deseja excluir o projeto {{ project.name }}?
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="modal.dismiss()" ngbAutofocus>Cancelar</button>
            <button type="button" class="btn btn-danger" (click)="deleteProject()" ngbAutofocus>Excluir</button>
        </div>
    </ng-template>

    <h5>Disciplinas</h5>

    <ngb-accordion #acc="ngbAccordion">
        <ngb-panel *ngFor="let subject of subjects" [title]="subject.name">
            <ng-template ngbPanelContent>
                <table class="table table-sm table-hover text-center" *ngIf="subject.topics.length">
                    <thead>
                        <tr class="align-middle">
                            <th class="mt-1 text-center">Tópico</th>
                            <th title="Total questões acertadas" style="font-size: 1.5em;">
                                <i class="bi bi-check2 text-success"></i>
                            </th>
                            <th title="Total questões erradas" style="font-size: 1.5rem;">
                                <i class="bi bi-x-lg text-danger"></i>
                            </th>
                            <th title="Total de sessões de estudo" style="font-size: 1.5rem;">
                                <i class="bi bi-list text-warning"></i>
                            <th title="Total de tempo estudado" style="font-size: 1.5rem;">
                                <i class="bi bi-alarm text-info"></i>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let topic of subject.topics" class="align-middle fw-bold">
                            <td class="text-start">
                                <a [routerLink]="['/topic/'+ topic.id]">{{ topic.name }}</a>
                            </td>
                            <td class="  text-success">{{ topic.totalRightAnswers }}</td>
                            <td class="text-danger">{{ topic.totalWrongAnswers }}</td>
                            <td>{{ topic.totalSessions }}</td>
                            <td>{{ topic.totalTime }}</td>
                        </tr>
                    </tbody>
                </table>

                <div class="text-center" *ngIf="subject.topics.length == 0">
                    Esta disciplina não tem nenhum tópico ainda
                </div>

                <div class="d-flex justify-content-end mt-4">
                    <input #newTopic type="text" class="new-topic-input form-control w-50"
                        placeholder="Digite o nome do tópico"
                        (keyup.enter)="addTopic(newTopic.value, subject.id); newTopic.value = '' "
                        onclick="this.select()">
                    <button type="button" class="btn btn-primary btn-sm" title="Adicionar novo tópico"
                        (click)="addTopic(newTopic.value, subject.id); newTopic.value = ''; newTopic.focus() ">
                        <i class="bi bi-plus-lg"></i>
                    </button>
                </div>
            </ng-template>
        </ngb-panel>
        <ngb-panel *ngIf="subjectFormVisible">
            <ng-template ngbPanelHeader>
                <div class="d-flex align-items-center justify-content-between p-2">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Nome da disciplina" #newSubject
                            (keyup.enter)="addSubject(newSubject.value); newSubject.value = '' ">
                        <button class="btn btn-danger" type="submit" (click)="subjectFormVisible = false">
                            <i class="bi bi-x-lg"></i>
                        </button>
                    </div>
                </div>
            </ng-template>
        </ngb-panel>
    </ngb-accordion>

    <div class="d-flex justify-content-end my-3">
        <button class="btn btn-primary" (click)="showSubjectForm()">
            <i class="bi bi-plus-lg"></i> Adicionar Disciplina</button>
    </div>
</div>