<div class="container col-md-10 mt-4">
    <div class="card mb-4">
        <div class="card-body bg-white border-start border-top border-end border-bottom border-2 rounded"
            [style.border-color]="project.color + ' !important'">
            <h5 class="fw-bold">{{ project.name }}</h5>
            <span>{{ project.description }} </span>
        </div>
    </div>

    <h5>Disciplinas</h5>

    <ngb-accordion #acc="ngbAccordion">
        <ngb-panel *ngFor="let subject of subjects" [title]="subject.name">
            <ng-template ngbPanelContent>
                <table class="table table-sm table-hover text-center">
                    <thead>
                        <tr class="align-middle">
                            <th class="mt-1 text-center">Tópico</th>
                            <th title="Total questões acertadas" style="font-size: 1.5em;">
                                <i class="bi bi-check2 text-success"></i>
                            </th>
                            <th title="Total questões erradas" style="font-size: 1.5rem;">
                                <i class="bi bi-x-lg text-danger"></i>
                            </th>
                            <th title="Total de sessões de estudo" style="font-size: 1.5rem;">
                                <i class="bi bi-list text-warning"></i>
                            <th title="Total de tempo estudado" style="font-size: 1.5rem;">
                                <i class="bi bi-alarm text-info"></i>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let topic of subject.topics" class="align-middle fw-bold">
                            <td class="text-start">
                                <a [routerLink]="['/topic/'+ topic.id]">{{ topic.name }}</a>
                            </td>
                            <td class="  text-success">{{ topic.totalRightAnswers }}</td>
                            <td class="text-danger">{{ topic.totalWrongAnswers }}</td>
                            <td>{{ topic.totalSessions }}</td>
                            <td>{{ topic.totalTime }}</td>
                        </tr>
                    </tbody>
                </table>

                <small *ngIf="subject.topics.length == 0">
                    Esta disciplina não tem nenhum tópico ainda
                </small>

                <div class="d-flex justify-content-end">
                    <input #newTopic type="text" class="new-topic-input form-control w-50" placeholder="Nome do tópico"
                        (keyup.enter)="addTopic(newTopic.value, subject.id); newTopic.value = '' "
                        onclick="this.select()">
                    <button type="button" class="btn btn-primary btn-sm" title="Adicionar novo tópico"
                        (click)="addTopic(newTopic.value, subject.id); newTopic.value = ''; newTopic.focus() ">
                        <i class="bi bi-plus-lg"></i>
                    </button>
                </div>
            </ng-template>
        </ngb-panel>
        <ngb-panel *ngIf="showSubjectForm">
            <ng-template ngbPanelHeader>
                <div class="d-flex align-items-center justify-content-between p-2">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Nome da disciplina" #newSubject
                            (keyup.enter)="addSubject(newSubject.value); newSubject.value = '' ">
                        <button class="btn btn-danger" type="submit" (click)="showSubjectForm = false">
                            <i class="bi bi-x-lg"></i>
                        </button>
                    </div>
                </div>
            </ng-template>
        </ngb-panel>
    </ngb-accordion>

    <div class="d-flex justify-content-end my-3">
        <button class="btn btn-primary" (click)="showSubjectForm = true"><i class="bi bi-plus-lg"></i> Adicionar
            Disciplina</button>
    </div>
</div>