<div class="container col-md-8 mt-4 mb-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a class="fw-bold" href="#" [routerLink]="'/projects/' +topic.subject?.project?.id"
                    [style.color]="topic.subject?.project?.color">
                    {{ topic.subject?.project?.name }}</a>
            </li>
            <li class="breadcrumb-item" aria-current="page">
                <a>{{ topic.subject?.name }}</a>
            </li>
        </ol>
    </nav>

    <h4 class="border-5 border-start border-primary ps-2 my-3">{{ topic.name }}</h4>

    <div class="card">
        <h5 class="card-header bg-white text-center">Sessões de estudos</h5>
        <div class="card-body">
            <table class="table table-hover text-center" *ngIf="topic.sessions.length">
                <thead>
                    <tr class="align-middle">
                        <th></th>
                        <th class="mt-1">Data</th>
                        <th title="Total questões acertadas" style="font-size: 1.5em;">
                            <i class="bi bi-check2 text-success"></i>
                        </th>
                        <th title="Total questões erradas" style="font-size: 1.5rem;">
                            <i class="bi bi-x-lg text-danger"></i>
                        </th>
                        <th title="Total de sessões de estudo" style="font-size: 1.5rem;">
                            <i class="bi bi-list text-warning"></i>
                        <th title="Total tempo estudado" style="font-size: 1.5rem;">
                            <i class="bi bi-hourglass-split text-info"></i>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let session of topic.sessions; let i = index" class="align-middle">
                        <td>{{ i + 1 + '°' }} </td>
                        <td>{{ session.creationDate | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
                        <td class="fw-bold text-success">{{ session.rightAnswers }}</td>
                        <td class="fw-bold text-danger">{{ session.wrongAnswers }}</td>
                        <td class="fw-bold">{{ session.totalTime }}</td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-transparent btn-sm" type="button" id="dropdownMenuButton"
                                    data-bs-toggle="dropdown" aria-expanded="false"
                                    [id]="'dropdownMenuButton' + session.id">
                                    <i class="bi bi-three-dots"></i>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton"
                                    [attr.aria-labelledby]="'dropdownMenuButton' + session.id">
                                    <li><a class="dropdown-item" href="#"
                                            [routerLink]="['/topic/' + topic.id + '/session/' + session.id + '/edit']">Editar</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item"
                                            (click)="showDeleteConfirmModal(session.id)">Remover</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr class="align-middle fw-bold">
                        <td></td>
                        <td>Totais</td>
                        <td class="text-success">{{ topic.totalRightAnswers }}</td>
                        <td class="text-danger">{{ topic.totalWrongAnswers }}</td>
                        <td>{{ topic.totalTime }}</td>
                        <td>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="text-center" *ngIf="!topic.sessions.length">Nenhuma sessão de estudo.</div>

            <div class="d-flex justify-content-end">
                <a class="btn btn-primary btn-sm" [routerLink]="['/topic/' + topic.id + '/session']"
                    title="Adicionar nova sessão de estudos">
                    <i class="bi bi-plus-lg"></i></a>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="confirmDeleteSessionModal" tabindex="-1"
        aria-labelledby="confirmDeleteSessionModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmDeleteSessionModalLabel">Excluir Sessão de Estudo</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Tem certeza de que deseja excluir a sessão de estudo?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger" (click)="deleteStudySession()">Remover</button>
                </div>
            </div>
        </div>
    </div>
</div>