<div class="container col-md-4 mt-4">
    <div id="successAlert" class="alert alert-success alert-dismissible fade show" role="alert" style="display: none;">
        Sua conta foi criada com sucesso! Agora é só realizar o login!
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <div class="card shadow mb-3">
        <div class="card-body">
            <h3 class="card-title text-center">EARA Login</h3>

            <div id="errorAlert" class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="error">
                {{error}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

            <form>
                <div class="mb-3">
                    <label for="email" class="form-label">E-mail</label>
                    <input type="email" class="form-control" id="email" [(ngModel)]="user.email" [formControl]="email"
                        required>
                </div>
                <div class="mb-4">
                    <label for="password" class="form-label">Senha</label>
                    <input type="password" class="form-control" id="password" [(ngModel)]="user.password"
                        [formControl]="password" required>
                </div>
                <div class="d-grid col-md-6 mx-auto">
                    <button type="submit" class="btn btn-primary" [disabled]="!isValidFields()"
                        (click)="login()">Entrar</button>
                </div>
            </form>
        </div>
    </div>
    <div class="card shadow">
        <div class="card-body text-center">
            Novo no EARA? <a [routerLink]="['/register']">Crie uma conta agora mesmo!</a>
        </div>
    </div>
</div>